<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$module_data.title}</title>
    <meta name="keywords" content="{$module_data.keywords}" />
    <meta name="description" content="{$module_data.descript}" />
    <meta name="baidu-site-verification" content="ePMpDbx1Eu" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">

    <script type="text/javascript" src="__JS__/jq-c0eb42550f.1.11.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery-546c1da987.lazyload.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery-ui-019252536e.js"></script>
    <script>document.write("<script type='text/javascript' src='__JS__/common.js?v=" + Date.now() + "'><\/script>");</script>
    <script type="text/javascript" src="__JS__/layer/layer.js"></script>


</head>
<body class="topline">